.note-tb
  width: 600px
  background-color: #fdfdfd
  height: 50px
  margin-left: 10px
  p
    margin-left: 15px
    color: #dedede
    font-size: 15px
    margin-top: 15px

body#nb-holder
  height: 500px!important
  width: 500px!important
