.note-tb {
  width: 600px;
  background-color: #fdfdfd;
  height: 50px;
  margin-left: 10px; }
  .note-tb p {
    margin-left: 15px;
    color: #dedede;
    font-size: 15px;
    margin-top: 15px; }

.hide {
  display: none !important; }

.show {
  display: block; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: arial;
  margin: 0px;
  text-decoration: none; }

body {
  width: 1100px;
  height: 620px;
  margin: 0px;
  margin-top: 15px;
  margin-left: 15px; }

.bkg-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  height: 600px;
  width: 1100px;
  z-index: 10;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.menu-box {
  width: 825px;
  height: 450px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-left {
  width: 60px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.mr-top {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .menu-title p {
    margin: 15px; }

.btn {
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .btn p {
    margin: 15px;
    text-align: center;
    cursor: default;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: black; }

.btn:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .btn:hover p {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: grey; }

.mr-bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  background-color: grey; }

.profile-name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.right-btns-ex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.sec-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.left-menu {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.notebooks-sec {
  min-height: 55px;
  height: 125px;
  max-height: 240px;
  background-color: grey;
  overflow-y: scroll;
  overflow-x: hidden; }

.in-nb {
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.nb-box {
  height: 50px;
  width: 50px;
  margin: 5px;
  background-color: #9f9f9f;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .nb-box p {
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 15px;
    cursor: default; }

.nb-box:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: silver; }

.nb-box-cr {
  height: 45px;
  width: 45px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  border-style: solid;
  border-color: silver;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .nb-box-cr p {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: silver;
    padding-top: 15px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    cursor: default; }

.nb-box-cr:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-color: white; }
  .nb-box-cr:hover p:hover {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: white; }

.handle {
  height: 4px;
  background-color: silver;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.handle:hover {
  height: 6px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.menu-btns {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  background-color: #565656;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.tools-btn {
  height: 50px;
  width: 50px;
  margin: 5px;
  background-color: #797979;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .tools-btn p {
    color: white;
    cursor: default;
    font-size: 18px;
    margin-top: 15px;
    text-align: center; }

.tools-btn:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #b4b4b4; }

.note-sec {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  height: 600px;
  background-color: #f2f2f2; }

.scrollNote::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }
.scrollNote::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5; }
.scrollNote::-webkit-scrollbar-thumb {
  background-color: #aeaeae; }

.scrollNote2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }
.scrollNote2::-webkit-scrollbar {
  width: 0px;
  background-color: #F5F5F5; }
.scrollNote2::-webkit-scrollbar-thumb {
  background-color: #aeaeae; }

.note-text {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.notes-section {
  height: 540px;
  overflow-y: scroll;
  overflow-x: hidden; }

.in-ns {
  height: 2600px;
  margin-left: 10px; }

.right-sec {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 600px;
  background-color: #565656;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.find-sec {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.find-box {
  margin-top: 12px;
  height: 30px;
  margin-bottom: 18px;
  margin-left: 10px;
  margin-right: 5px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .find-box p {
    color: silver;
    margin-top: 7px;
    margin-left: 10px;
    font-size: 14px; }

.find-box:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-color: silver; }

.tools-control {
  width: 80px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.min-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.min-btn:hover .in-min-btn {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: white; }

.in-min-btn {
  width: 12px;
  height: 2px;
  background-color: silver;
  margin: auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 10px;
  margin-bottom: 10px; }

.close-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .close-btn p {
    text-align: center;
    color: silver;
    cursor: default;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .close-btn p:hover {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: white; }
