// output:CSS editor.html
head
  link(type="text/css" rel="stylesheet" href="./CSS/ui.css")
  link(type="text/css" rel="stylesheet" href="./CSS/editor.css")

body

  div.section-holder#s1
    div.nb-box
      p An
    div.nb-box-cr
      p +
    div.sh-class
      p class: nb-box and nb-box-cr
  
  div.section-holder#s2
    div.tools-btn
    div.sh-class
      p class: tools-btn
  
  div.section-holder#s3
    div.note-tb
      p type note in here
    div.sh-class
      p class: note-tb
