// output:index.html
doctype html

head

  meta(charset="utf-8")
  link(type="text/css" rel="stylesheet" href="./CSS/ui.css")
  link(rel="import" href="./html/notes.html")
  script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fuse.js/2.6.2/fuse.min.js', integrity='sha256-9BbBlvpi1O2SoDb/Y+8RBs87w4996sVBpPEg089WEYs=', crossorigin='anonymous')
  script(src="./src/index.js")
  title notebook 

    
body
  
  div.body-holder  
    div.bkg-menu.hide
      div.menu-box.hide#pro-title
        div.menu-left
        div.menu-right
          div.mr-top
            div.menu-title
              p Profiles
            div.btn.menu-close
              p x
          div.mr-bottom
          
      div.menu-box.hide#set-title
        div.menu-left
          
        div.menu-right
          div.mr-top
            div.menu-title
              p Setting 
            div.btn.menu-close
              p x
          div.mr-bottom
      
      div.menu-box.hide#nset-title
        div.menu-left
        div.menu-right
          div.mr-top
            div.menu-title
              p Notebook settings
            div.btn.menu-close
              p x
          div.mr-bottom
            div.n-b-name
              div.nb-left
                p Notebook Title
              div.nb-right 
                
        
    div.tools.hide
      div.profile-name
      div.right-btns-ex

    div.sec-holder
      div.left-menu
        div.notebooks-sec.scrollNote2
          div.in-nb
            div.nb-box
              p An
            div.nb-box-cr
              p +
              
        div.handle
        div.menu-btns
          div.tools-btn#note-settings
            p NS
          div.tools-btn#profile
            p Pr
          div.tools-btn#settings
            p St
            
      div.note-sec
        div.note-text
          div.note-tb
            p type note in here
            
        div.notes-section.scrollNote
          div.in-ns
            div#notesFile
            
      div.right-sec
        div.find-sec
          div.find-box
            input#find-input

          div#find-results
            
        div.tools-control
          div.min-btn
            div.in-min-btn
            
          div.close-btn
            p X
