// output:notes.html
  
div.notesbody 
  
  div.nh-section
    div.note-box
      div.in-noteBox
        p hi everybody
        
    div.note-box.indent
      div.in-noteBox
        p second test note
    
    div.note-box.indent
      div.in-noteBox
        p test
        
    div.note-box.indent1
      div.in-noteBox
        p extra note
    
    div.note-box.indent
      div.in-noteBox
        p testing indents to see how it would look like 

  div.nh-section
    div.note-box
      div.in-noteBox
        p second set of notes
        
    div.note-box.indent
      div.in-noteBox
        p this is a cool test
        
    div.note-box.indent1
      div.in-noteBox
        p another test extra note
