// output:notes.html
  
div.notesbody 
  
  div.nh-section#An-01
    div.note-box
      div.in-noteBox
        p hi everybody
      div.nb-click
        div.note-menu
          div.remove-btn
          div.settings-btn 
        
    div.note-box.indent
      div.in-noteBox
        p second test note
    
    div.note-box.indent
      div.in-noteBox
        p test
  
  div.nh-section#An-02
    div.note-box
      div.in-noteBox
        p hi everybody
        
    div.note-box.indent
      div.in-noteBox
        p second test note
